<h1 class="h3 mb-2">Chi Tiết Phản Hồi</h1>
<form class="row g-3" method="post" th:object="${dl}">
    <div class="">
        <input type="hidden" class="form-control" th:field="*{Id}" disabled>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Ngày Tạo</label>
        <input type="date" class="form-control" th:field="*{ngayTao}" disabled>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Ngày Sửa</label>
        <input type="date" class="form-control" th:field="*{ngaySua}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Tên</label>
        <input type="text" class="form-control" th:field="*{ten}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Địa Chỉ</label>
        <input type="text" class="form-control" th:field="*{diaChi}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" th:field="*{email}" disabled>
    </div>
    <div class="col-md-6 mt-4">
        <label class="form-label">Số Điện Thoại</label>
        <input type="text" class="form-control" th:field="*{phone}" disabled>
    </div>
    <div class="col-md-6 mt-4">
        <label class="form-label">Tiêu Đề</label>
        <input type="text" class="form-control" th:field="*{tieuDe}" disabled>
    </div><div class="col-md-6 mt-4">
        <label class="form-label">Tin Nhắn</label>
        <input type="text" class="form-control" th:field="*{tinNhan}" disabled>
    </div>
</form>