<h1 class="h3 mb-2">Thêm Mới Cài Đặt</h1>
<form class="row g-3" method="post" th:action="@{/admin/caidat/them}" th:object="${dl}">
    <div class="">
        <input type="hidden" class="form-control" th:field="*{Id}" disabled>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Khóa</label>
        <input type="text" class="form-control" th:field="*{khoa}">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Giá Trị</label>
        <input type="text" class="form-control" th:field="*{giaTri}">
    </div>
</form>