<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Quản Lý Đơn Hàng</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" data-toggle="modal" class="btn btn-primary" data-target="#showModal">Thêm Mới</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tên Khách Hàng</th>
                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th>Trạng Thái</th>
                        <th>Ngày Tạo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Tên Khách Hàng</th>
                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th>Trạng Thái</th>
                        <th>Ngày Tạo</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="dl : ${ds}" th:data-id="${dl.id}">
                        <td th:text="${dl.id}"></td>
                        <td th:text="${dl.tenDayDu}"></td>
                        <td th:text="${dl.email}"></td>
                        <td th:text="${dl.dienThoai}"></td>
                        <td th:text="${dl.trangThai.trangThaiVi}"></td>
                        <td th:text="${dl.ngayTao}"></td>
                        <td>
                            <button class="btn btn-outline-info" th:onclick="'showViewModal(' + ${dl.id} + ')'">
                                <i class="bi bi-eye"></i>Xem
                            </button>
                            &nbsp;
                            <button class="btn btn-outline-warning" th:data-id="${dl.id}"
                                th:onclick="capNhatTrangThai(this)">
                                <i class="bi bi-pencil-fill"></i>Sửa
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <div id="formThemContainer" style="display: none;">
    <div th:replace="/admin/donhang/them.html"></div>
</div> -->
<div id="formXemContainer" style="display: none;">
    <div th:replace="/admin/donhang/chitietdh.html"></div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script>
    window.showViewModal = function (id) {
        document.getElementById('modalActionBtn').style.display = 'none';
        $.ajax({
            url: '/admin/donhang/xem',  // Đường dẫn API để lấy chi tiết đơn hàng
            method: 'GET',
            data: {
                id: id  // Gửi mã đơn hàng để lấy chi tiết
            },
            success: function (response) {
                // Chèn nội dung chi tiết đơn hàng vào modal
                $('#modalContent').html(response);

                // Hiển thị modal
                $('#showModal').modal('show');
            },
            error: function () {
                alert('Có lỗi xảy ra khi tải chi tiết đơn hàng.');
            }
        });
    }
    function capNhatTrangThai(button) {
        document.getElementById('modalActionBtn').style.display = 'none';
        var donHangId = button.getAttribute("data-id");

        // Gửi yêu cầu POST để cập nhật trạng thái đơn hàng
        $.ajax({
            url: '/admin/donhang/capnhattrangthai',
            method: 'POST',
            data: {
                id: donHangId  // Gửi id của đơn hàng
            },
            success: function (response) {
                if (response === "success") {
                    // Hiển thị modal thông báo thành công
                    $('#modalContent').html('<p>Đơn hàng đã được cập nhật thành "Đã Xác Nhận".</p>');
                    $('#showModal').modal('show');

                } else {
                    alert('Có lỗi xảy ra khi cập nhật trạng thái.');
                }
            },
            error: function () {
                alert('Có lỗi xảy ra khi gửi yêu cầu cập nhật.');
            }
        });
    }

</script>