<h1 class="h3 mb-2">Thêm Mới Quảng Cáo</h1>
<form class="row g-3" method="post" th:action="@{/admin/quangcao/them}" th:object="${dl}" enctype="multipart/form-data">
    <div class="">
        <input type="hidden" class="form-control" th:field="*{Id}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Thứ Tự</label>
        <input type="number" class="form-control" th:field="*{thuTu}">
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Tựa Đề</label>
        <input type="text" class="form-control" th:field="*{tuaDe}">
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Tựa Đề Phụ</label>
        <input type="text" class="form-control" th:field="*{tuaDePhu}">
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Giá Tiền</label>
        <input type="text" class="form-control" th:field="*{giaTien}">
    </div>
    <div class="col-md-6 mt-4">
        <label class="form-label">Đường Link</label>
        <input type="text" class="form-control" th:field="*{link}">
    </div>
    <div class="col-md-6 mt-4">
        <label for="formFile" class="form-label">Ảnh</label>
        <input class="form-control" type="file" id="formFile" th:field="*{anh}">
    </div>
    <div class="col-md-6 mt-4">
        <label class="form-label">Mô Tả</label>
        <input type="text" class="form-control" th:field="*{moTa}">
    </div>
    <div class="col-md-3 mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
                th:field="*{choPhep}">
            <label class="form-check-label" for="flexCheckChecked">
                Cho Phép
            </label>
        </div>
    </div>
    <div class="col-md-3 mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
                th:field="*{choPhep}">
            <label class="form-check-label" for="flexCheckChecked">
                Đã Thanh Toán
            </label>
        </div>
    </div>
</form>