<h1 class="h3 mb-2">Xem Quảng Cáo</h1>
<form class="row g-3" method="post" th:object="${dl}" enctype="multipart/form-data">
    <div class="">
        <input type="hidden" class="form-control" th:field="*{Id}" disabled>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Ngày Tạo</label>
        <input type="date" class="form-control" th:field="*{ngayTao}" disabled>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Ngày Sửa</label>
        <input type="date" class="form-control" th:field="*{ngaySua}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Thứ Tự</label>
        <input type="number" class="form-control" th:field="*{thuTu}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Tựa Đề</label>
        <input type="text" class="form-control" th:field="*{tuaDe}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Nội Dung</label>
        <input type="text" class="form-control" th:field="*{noiDung}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Giá Tiền</label>
        <input type="text" class="form-control" th:field="*{giaTien}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Đường Link</label>
        <input type="text" class="form-control" th:field="*{link}" disabled>
    </div>
    <div class="col-md-6 mt-4">
        <label class="form-label">Ảnh</label>
        <img th:src="*{anh}" style="height: 100px"/>
    </div>
    <div class="col-md-6 mt-4">
        <label class="form-label">Mô Tả</label>
        <input type="text" class="form-control" th:field="*{moTa}" disabled>
    </div>
    <div class="col-md-6 mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked th:field="*{choPhep}"
                disabled>
            <label class="form-check-label" for="flexCheckChecked">
                Cho Phép
            </label>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked th:field="*{choPhep}"
                disabled>
            <label class="form-check-label" for="flexCheckChecked">
                Đã Thanh Toán
            </label>
        </div>
    </div>
</form>