<h1 class="h3 mb-2">Xem Ảnh Hệ Thống</h1>
<form class="row g-3" method="post" th:object="${dl}">
    <div class="">
        <input type="hidden" class="form-control" th:field="*{Id}" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Ngày Tạo</label>
        <input type="text" class="form-control" th:value="*{ngayTao}" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Ngày Sửa</label>
        <input type="text" class="form-control" th:value="*{ngaySua}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Thứ Tự</label>
        <input type="number" class="form-control" th:field="*{thuTu}" disabled>
    </div>
    <div class="col-md-3 mt-4">
        <label class="form-label">Tựa Đề</label>
        <input type="text" class="form-control" th:field="*{tuaDe}" disabled>
    </div>
    <div class="col-md-6 mt-4">
        <label for="formFile" class="form-label">Ảnh</label>
        <img th:src="${dl.duongDan}" style="height: 80px" disabled/>
    </div>
    <div class="col-md-6 mt-4">
        <label class="form-label">Mô Tả</label>
        <input type="text" class="form-control" th:field="*{moTa}" disabled>
    </div>
    <div class="col-md-6 mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked th:field="*{choPhep}"
                disabled>
            <label class="form-check-label" for="flexCheckChecked">
                Cho Phép
            </label>
        </div>
    </div>
</form>